<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
	<title>Fauna Health | Detalle de la venta</title>
</head>
<body>
	<nav th:insert="fragments/menu.html :: navbar">
    </nav>
   	<hr>
   	<div class="container">
   		<div class="jumbotron animated fadeIn fast">
   			<h3 class="text-center" th:text="'Venta realizada el día: ' + ${#dates.format(sale.saleDate, 'dd-MM-yyyy')}"></h3>
   			<p class="lead" th:text="'Cliente: ' + ${sale.client.name} + ' ' + ${sale.client.primaryLastName}"></p>
   			<p class="lead" th:text="'Número de boleta: ' + ${sale.ticketNumber}"></p>
   			<p class="lead" th:text="'Monto pagado por el cliente: S/ ' + ${sale.cash}"></p>
   			<p class="lead" th:text="'Monto total de la venta: S/ ' + ${sale.total}"></p>
   			<p class="lead" th:text="'Vuelto: S/ ' +${sale.change}"></p>
   			
   			<h3 class="text-center">Detalles de la venta</h3><br>
   			<div class="table-responsive">
   				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Producto</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="saleDetail : ${saleDetails}">
							<td th:text="${saleDetail.product.name}"></td>
							<td th:text="${saleDetail.amount} + ' unidades'"></td>
							<td th:text="'S/ ' + ${saleDetail.subtotal}"></td>
						</tr>
					</tbody>
   				</table>
   			</div>
   		</div>
   	</div>
   	
   	<footer th:insert="fragments/footer.html :: footer">
   	</footer>
   	
   	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>