<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    
    <title>Fauna Health | Registro de Venta</title>
</head>
<body>
	<nav th:insert="fragments/menu.html :: navbar">
	</nav>
	
	<main role="main">
		<hr>
		<div class="container">
			<div class="card animated fadeIn fast">
				<h4 class="card-header"><i class="fas fa-money-bill-alt" th:text="${sale != null} ? ' Actualización de venta' : ' Registro de Venta'"></i></h4>
				<div class="card-body">
					<form name="formSale" th:action="@{/sales/record}" method="post">
						<div th:if="${messageError != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
							<strong th:text="${messageError}"></strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    		<span aria-hidden="true">&times;</span>
					  		</button>
						</div>
						<div th:if="${messageSuccess != null}" class="alert alert-success alert-dismissible fade show" role="alert">
							<strong th:text="${messageSuccess}"></strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    		<span aria-hidden="true">&times;</span>
					  		</button>
						</div>
						<div class="row" th:if="${sale != null}">
							<div class="col-md-3">
								<div class="form-group">
									<label for="ticketNumber" th:text="'N° de boleta: ' + ${#strings.concat('000',sale.id)}"></label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="saleDate">Fecha de venta </label>
									<input th:if="${sale != null}" type="hidden" name="saleId" th:value="${sale.id}">
									<input th:if="${sale==null}" class="form-control mb-2" type="text" name="saleDate" id="saleDate" placeholder="Fecha de la venta" required="required">
									<input th:unless="${sale==null}" class="form-control mb-2" type="text" name="saleDate" th:value="${#dates.format(sale.saleDate, 'dd-MM-yyyy')}" id="saleDate" placeholder="Fecha de la venta" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="clientId">C&oacute;digo del cliente: </label>
									<input th:if="${sale==null}" class="form-control mb-2" onkeypress="return checkNumbers(event)" type="text" name="clientId" id="clientId" placeholder="Código cliente" required="required">
									<input th:unless="${sale==null}" class="form-control mb-2" onkeypress="return checkNumbers(event)" type="text" name="clientId" th:value="${sale.client.id}" id="clientId" placeholder="Código cliente" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="cash">Monto pagado: </label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
	    									<span class="input-group-text">S/</span>
										</div>
										<input th:if="${sale==null}" class="form-control" type="text" name="cash" id="cash" maxlength="6" size="6" onkeypress="return checkNumbers(event)" required="required" placeholder="00.00">
										<input th:unless="${sale==null}" class="form-control" type="text" name="cash" th:value="${sale.cash}" id="cash" maxlength="6" size="6" onkeypress="return checkNumbers(event)" required="required" placeholder="00.00">
									</div>
								</div>
							</div>
						</div><br>
						<table class="table table-borderless" id="itemsSale">
							<tr>
								<td>
									<button class="btn btn-dark" type="button" onclick="addItem(this.parentNode)">Agregar producto</button>									
								</td>
							</tr>
							<tr>
								<td align="center">C&oacute;digo del producto</td>
								<td align="center">Cantidad</td>
							</tr>
							<div th:if="${sale != null}">
								<tr id="item" th:each="saleDetail : ${sale.saleDetails}">
									<td>
										<select class="form-control" name="productId">
											<option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}" th:selected="${#strings.equals(saleDetail.product.name, product.name)}"></option>
										</select>
									</td>
									<td>
										<input name="amount" th:value="${saleDetail.amount}" class="form-control" onkeypress="return checkNumbers(event)" type="text" maxlength="3" size="3" placeholder="Unidades" required="required">
									</td>
									<td>
										<button class="btn btn-dark" type="button" onclick="deleteRow(this)">Eliminar producto</button>
									</td>
								</tr>
							</div>
							<tr id="item">
								<td>
									<select class="form-control" name="productId">
										<option th:each="product : ${products}" th:value="${product.id}"
											th:text="${product.name}"></option>
									</select>
								</td>
								<td>
									<input class="form-control" onkeypress="return checkNumbers(event)" type="text" name="amount" maxlength="3" size="3" placeholder="Unidades" required="required">
								</td>
								<td>
									<button class="btn btn-dark" type="button" onclick="deleteRow(this)">Eliminar producto</button>
								</td>
							</tr>
						</table><br>
						<div style="text-align: center;">
							<button class="btn btn-primary" type="submit"><span th:text="${sale != null} ? 'Actualizar venta' : 'Registrar Venta'"></span></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	
	<footer th:insert="fragments/footer.html :: footer">
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/js/validations.js}"></script>
	<script>
        $(function() {
            $("#saleDate").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
    </script>
</body>
</html>