<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

    <title>Fauna Health | Registro de Paciente</title>

</head>

<body>
    <nav th:insert="fragments/menu.html :: navbar">
    </nav>
    <hr>
    <div class="container">
        <div class="card animated fadeIn fast">
            <h4 class="card-header">
                <i class="fas fa-dog"></i> Datos del paciente | Gato
            </h4>
            <div class="card-body">
                <form name="formPatient" th:action="@{/patient/saveCat}" th:object="${patient}" method="post" onsubmit="return validateFormPatient(this)">
                	
                	<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                		<strong>Algo no fue bien. Por favor correjir: </strong>
                		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    		<span aria-hidden="true">&times;</span>
				  		</button>
                		<ul>
                			<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
                		</ul>
                	</div>
                	<div th:if="${messageError != null}" class="alert alert-danger" role="alert">
            			<strong th:text="${messageError}"></strong>
           			</div>
           			
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="breed">Raza</label>
                            <input type="hidden" th:field="*{id}">
                            <select th:field="*{breed.id}" id="breed" class="form-control">
                                <option th:each="breed : ${breeds}" th:value="${breed.id}" th:text="${breed.name}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="client">Codigo del dueño (*)</label>
                            <input th:field="*{client.id}" id="client" class="form-control" 
                            	placeholder="Codigo del dueño" maxlength="10" size="10" onkeypress="return checkNumbers(event)" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="nickname">Nombre/Alias (*)</label>
                            <input th:field="*{nickname}" id="nickname" type="text" class="form-control" placeholder="Alias" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="colorHair">Color de pelo (*)</label>
                            <input th:field="*{hairColor}" id="colorHair" type="text" class="form-control" placeholder="Color" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="birthday">Fecha de nacimiento (*)</label>
                            <input th:field="*{birthday}" id="birthday" type="text" class="form-control" placeholder="Fecha de nacimiento" maxlength="10" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-5">
                            <label for="gender">Sexo (*)</label>
                            <div class="custom-control custom-radio custom-control-inline">
							  <input th:field="*{gender}" type="radio" id="male" class="custom-control-input" value="M">
							  <label class="custom-control-label" for="male">Macho</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							  <input th:field="*{gender}" type="radio" id="female" class="custom-control-input" value="H">
							  <label class="custom-control-label" for="female">Hembra</label>
							</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-5">
                            <label for="sterilized">Esterilizada(o) (*)</label>
                            <div class="custom-control custom-radio custom-control-inline">
							  <input th:field="*{sterilized}" type="radio" id="yes" class="custom-control-input" value="1">
							  <label class="custom-control-label" for="yes">SI</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							  <input th:field="*{sterilized}" type="radio" id="no" class="custom-control-input" value="0" checked="checked">
							  <label class="custom-control-label" for="no">NO</label>
							</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="signs">Características:</label>
                            <textarea th:field="*{signs}" id="signs" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/validations.js}"></script>
    <script>
        $(function() {
            $("#birthday").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
    </script>
</body>

</html>