<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-danger">
	<a class="navbar-brand" th:href="@{/}">
	    <img th:src="@{/images/favicon.ico}" width="30" height="30" class="d-inline-block align-top" alt=""> Fauna Health
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	        <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMINISTRACION','GESTION')">
	            <div class="dropdown">
	                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  Clientes
	                </button>
	                <div class="dropdown-menu">
	                    <a class="dropdown-item" th:href="@{/clients/record}">Registrar</a>
	                    <div class="dropdown-divider"></div>
	                    <a class="dropdown-item" th:href="@{/clients/}">Listado</a>
	                </div>
	            </div>
	        </li>
	        <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMINISTRACION','GESTION')">
	            <div class="dropdown">
	                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  Pacientes
	                </button>
	                <div class="dropdown-menu">
	                    <a class="dropdown-item" th:href="@{/patient/record/dog}">Registrar perro</a>
	                    <div class="dropdown-divider"></div>
	                    <a class="dropdown-item" th:href="@{/patient/record/cat}">Registrar gato</a>
	                    <div class="dropdown-divider"></div>
	                    <a class="dropdown-item" th:href="@{/patient/record/rabbit}">Registrar conejo</a>
	                    <div class="dropdown-divider"></div>
	                    <a class="dropdown-item" th:href="@{/patient/}">Listado</a>
	                </div>
	            </div>
	        </li>
	        <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMINISTRACION','GESTION')">
	            <div class="dropdown">
	                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  Productos
	                </button>
	                <div class="dropdown-menu">
	                    <a class="dropdown-item" th:href="@{/products/register}">Registrar producto</a>
	                    <div class="dropdown-divider"></div>
	                    <a class="dropdown-item" th:href="@{/products/}">Listado de productos</a>
	                </div>
	            </div>
	        </li>
	        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRACION')">
	        	<a class="nav-link" th:href="@{/users/}">Usuarios</a>
	        </li>
	        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRACION')">
	        	<a class="nav-link" th:href="@{/providers/}">Proveedores</a>
	        </li>
	        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRACION')">
	        	<a class="nav-link" th:href="@{/operations/}">Cirugias</a>
	        </li>
	        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRACION','GESTION')">
	        	<a class="nav-link" th:href="@{/appointments/}">Citas</a>
	        </li>
	    </ul>
	    <div sec:authorize="isAuthenticated()">
	    	<a class="btn btn-light" th:href="@{/logout}" role="button">Salir</a>
	    </div>
	    <!-- <form class="form-inline my-2 my-lg-0">
	        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
	        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
	    </form> -->
	</div>
</nav>
<hr>