<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    
    <title>Fauna Health | Clientes</title>
    
</head>

<body>
	<nav th:insert="fragments/menu.html :: navbar">
	
	</nav>
    <div class="container">
        <div class="card">
            <h4 class="card-header"><strong>Lista de clientes</strong></h4>
            <div class="card-body">
                <a class="btn btn-primary" th:href="@{/clients/record}" title="Registrar nuevo cliente" role="button"><i class="fas fa-user-plus"></i> Nuevo cliente</a>
                <hr>
                <strong>Puede encontrar clientes utilizando los siguientes filtros:</strong>
                <br><br>
                <div id="messageSuccess" th:if="${messageSuccess!=null}" class="alert alert-success alert-dismissible fade show" role="alert">
                	<strong th:text="${messageSuccess}" class="closeAlert"></strong>
                	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    		<span aria-hidden="true">&times;</span>
			  		</button>
                </div>
                <div id="messageWarning" th:if="${messageWarning!=null}" class="alert alert-warning alert-dismissible fade show" role="alert">
                	<strong th:text="${messageWarning}" class="closeAlert"></strong>
                	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    		<span aria-hidden="true">&times;</span>
			  		</button>
                </div>
                <form name="searchByDNI" th:action="@{/clients/searchByDNI}">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationServer01">DNI</label>
                            <!-- class="form-control is-valid" <div class="valid-feedback">Looks good!</div> -->
                            <input type="hidden" name="pageNumber" value="0">
                            <input name="documentNumber" type="text" class="form-control" id="validationServer01"
                            		 placeholder="N° documento" maxlength="8" size="8" onkeypress="return checkNumbers(event)" required>
                        </div>
                    </diV>
                    <button class="btn btn-outline-dark" type="submit">Buscar</button>
                </form>
                <hr>
                <form name="searchBy" th:action="@{/clients/searchBy}" onsubmit="return validateSearchBy(this)">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="name">Nombre</label>
                            <input type="hidden" name="pageNumber" value="0">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Nombre">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="primaryLastName">Apellido</label>
                            <input name="primaryLastName" type="text" class="form-control" id="primaryLastName" placeholder="Apellido">
                        </div>
                    </div>
                    <button class="btn btn-outline-dark" type="submit">Buscar</button>
                </form>
                <hr>
                <div th:if="${clients != null}" class="table-responsive animated fadeIn fast">
                    <table class="table table-hover">
                        <thead>
                            <tr align="center">
                            	<th scope="col">C&oacute;digo</th>
                                <th scope="col">DNI</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Primer Apellido</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Nuevo perro</th>
                                <th scope="col">Nuevo gato</th>
                                <th scope="col">Nuevo conejo</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="client : ${clients.content}" align="center">
                            	<th scope="row">[[${client.id}]]</th>
                                <th>[[${client.documentNumber}]]</th>
                                <td>[[${client.name}]]</td>
                                <td>[[${client.primaryLastName}]]</td>
                                <td>[[${client.cellPhone}]]</td>
                                <td>[[${client.emailAddress}]]</td>
                                <td>
                                	<span th:if="${client.status}" class="badge badge-primary">ACTIVO</span>
                                	<span th:unless="${client.status}" class="badge badge-danger">INACTIVO</span>
                                </td>
                                <td>
                                	<a th:href="@{/patient/record/{id}(id=1, clientId=${client.id})}" class="btn btn-primary btn-sm" role="button" title="Añadir nuevo perro"><i class="fas fa-dog"></i></a>
                                </td>
                                <td>
                                	<a th:href="@{/patient/record/{id}(id=2, clientId=${client.id})}" class="btn btn-primary btn-sm" role="button" title="Añadir nuevo gato"><i class="fas fa-cat"></i></a>
                                </td>
                                <td>
                                	<a th:href="@{/patient/record/{id}(id=3, clientId=${client.id})}" class="btn btn-primary btn-sm" role="button" title="Añadir nuevo conejo"><i class="fa fa-paw" aria-hidden="true"></i></a>
                                </td>
                                <td>
                                    <a th:href="@{/clients/edit/{id} ( id = ${client.id} )}" class="btn btn-primary btn-sm" role="button" title="Editar cliente"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                                    <a th:href="@{/clients/delete/{id} ( id = ${client.id} )}" class="btn btn-primary btn-sm" onclick="return confirm('¿Esta seguro de eliminar al cliente?')" role="button" title="Eliminar cliente"><i class="fas fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                    	<ul class="pagination">
                    		<li th:if="${clients.number > 0}" class="page-item">
                    			<a th:href="@{/clients/searchBy( pageNumber = ${clients.number - 1}, name = ${name}, primaryLastName = ${primaryLastName} )}" class="page-link">Anterior</a>
                    		</li>
                    		<li th:if="${clients.number < clients.totalPages - 1}" class="page-item">
                    			<a th:href="@{/clients/searchBy( pageNumber = ${clients.number + 1}, name = ${name}, primaryLastName = ${primaryLastName} )}" class="page-link">Siguiente</a>
                    		</li>
                    	</ul>
                    </nav>
                </div>
                <div th:unless="${clients != null}" class="alert alert-info" role="alert">
                	<strong th:text="${messageInfo}"></strong>
                </div>
            </div>
        </div>
    </div>
    
	<footer th:insert="fragments/footer.html :: footer">
	</footer>
	
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/validations.js}"></script>
</body>

</html>