<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    
	<title>Fauna Health | Cirug&iacute;as</title>
	
</head>
<body>

	<nav th:insert="fragments/menu.html :: navbar">
	</nav>
	
	<main role="main">
		<hr>
		<div class="container">
			<div class="card">
				<h4 class="card-header"><strong>Listado de cirug&iacute;as</strong></h4>
				<div class="card-body">
					<div th:if="${messageWarning != null}" class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong th:text="${messageWarning}"></strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    		<span aria-hidden="true">&times;</span>
				  		</button>
					</div>
					<div th:if="${messageWarningDates != null}" class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong th:text="${messageWarningDates}"></strong>
						<ul>
							<li>Fecha inicio - Fecha fin</li>
							<li>Solo fecha inicio</li>		
						</ul>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    		<span aria-hidden="true">&times;</span>
				  		</button>
					</div>
					<div th:if="${messageSuccess != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						<strong th:text="${messageSuccess}"></strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    		<span aria-hidden="true">&times;</span>
				  		</button>
					</div>
					<strong>Puede encontrar cirugias utilizando los siguientes filtros:</strong>
					<br><br>
					<form name="searchByPatient" th:action="@{/operations/searchByPatient}" onsubmit="return validateSearchByOperation(this)">
						<div class="form-row">
							<div class="col-md-3 mb-3">
								<label for="patientNickname">Paciente</label>
								<input type="hidden" name="pageNumber" value="0">
								<input type="text" name="nickname" id="patientNickname" class="form-control" placeholder="Alias/Apodo">
							</div>
							<div class="col-md-3 mb-3">
								<label for="patientLastName">Apellido</label>
								<input type="text" name="lastName" id="patientLastName" class="form-control" placeholder="Apellido">
							</div>
						</div>
						<button class="btn btn-outline-dark" type="submit">Buscar</button>
					</form>
					<hr>
					<form name="searchByDates" th:action="@{/operations/searchByDates}">
						<div class="form-row">
							<div class="col-md-3 mb-3">
								<label for="startDate">Fecha inicio</label>
								<input type="hidden" name="pageNumber" value="0">
								<input type="text" name="startDate" id="startDate" class="form-control date" placeholder="Rango inicial" maxlength="10" required="required">
							</div>
							<div class="col-md-3 mb-3">
								<label for="endDate">Fecha fin</label>
								<input type="text" name="endDate" id="endDate" class="form-control date" placeholder="Rando final" maxlength="10">
							</div>
						</div>
						<button class="btn btn-outline-dark" type="submit">Buscar</button>
					</form>
					<hr>
					<div th:if="${operations != null}" class="table-responsive animated fadeIn fast">
						<table class="table table-hover">
							<thead class="thead-light">
								<tr align="center">
									<th scope="col">Paciente</th>
									<th scope="col">Fecha de cirug&iacute;a</th>
									<th scope="col">Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="operation : ${operations.content}">
									<td align="center">[[${operation.patient.nickname}]] [[${operation.patient.client.primaryLastName}]]</td>
									<td align="center" th:text="${#dates.format(operation.operationDate, 'dd-MM-yyyy')}"></td>
									<td align="center">
										<a th:href="@{/operations/viewDetail/{id} (id=${operation.id})}" class="btn btn-primary" title="Información completa de la cirugía" role="button"><i class="fas fa-eye"></i></a>
										<a th:href="@{/operations/edit/{id} (id=${operation.id}, patientId=${operation.patient.id})}" class="btn btn-primary" title="Editar información de la cirugia" role="button"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
						<nav aria-label="Page navigation">
							<ul th:if="${startDate == null}" class="pagination">
								<li th:if="${operations.number > 0}" class="page-item">
									<a th:href="@{/operations/searchByPatient (pageNumber = ${operations.number - 1}, nickname = ${nickname}, lastName = ${lastName})}" class="page-link">Anterior</a>
								</li>
								<li th:if="${operations.number < operations.totalPages - 1}" class="page-item">
									<a th:href="@{/operations/searchByPatient (pageNumber = ${operations.number + 1}, nickname = ${nickname}, lastName = ${lastName})}" class="page-link">Siguiente</a>
								</li>
							</ul>
							<ul th:unless="${startDate == null}" class="pagination">
								<li th:if="${operations.number > 0}" class="page-item">
									<a th:href="@{/operations/searchByDates (pageNumber = ${operations.number - 1}, startDate = ${#dates.format(startDate, 'dd-MM-yyyy')}, endDate = ${#dates.format(endDate, 'dd-MM-yyyy')} )}" class="page-link">Anterior</a>
								</li>
								<li th:if="${operations.number < operations.totalPages - 1}" class="page-item">
									<a th:href="@{/operations/searchByDates (pageNumber = ${operations.number + 1}, startDate = ${#dates.format(startDate, 'dd-MM-yyyy')}, endDate = ${#dates.format(endDate, 'dd-MM-yyyy')} )}" class="page-link">Siguiente</a>
								</li>
							</ul>
						</nav>
					</div>
					<div th:unless="${operations != null}" class="alert alert-info" role="alert">
						<strong th:text="${messageInfo}"></strong>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:insert="fragments/footer.html :: footer">
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/validations.js}"></script>
	<script>
        $(function() {
            $(".date").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
    </script>
</body>
</html>