<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    
    <style type="text/css">
    	.page-navigation {
    		margin-bottom: 100px;
    	}
    	.card-container{
			position: relative;
			width: 18rem;
			perspective: 200rem;
			height: 412px;
		}

		.card-container:hover .card-front{
			transform: rotateY(180deg);
		}

		.card-container:hover .card-back{
			transform: rotateY(0deg);
		}

		.card-back{
			transform: rotateY(180deg);
		}
		
		.card{
			position: absolute;
			height: 100%;
			width: 100%;
			transition: all 0.9s;
			backface-visibility: hidden;
		}
		
		.card-back .card-body{
			position: relative;
		}
		
    </style>
    
    <title>Fauna Health | Histórico de atenciones</title>
    
</head>
<body>

	<nav th:insert="fragments/menu.html :: navbar">
	</nav>
	
	<div class="container">
		<blockquote class="blockquote text-center">
		  <p class="mb-0">Historial Cl&iacute;nico</p>
		  <div class="blockquote-footer">Paciente: <cite title="Source Title">[[${patient.nickname}]] [[${patient.client.primaryLastName}]]</cite></div>
		</blockquote>
		<hr>
		<div th:if="${messageInfo != null}" class="alert alert-info alert-dismissible fade show" role="alert">
			<strong th:text="${messageInfo}"></strong>
        	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    	<span aria-hidden="true">&times;</span>
		  	</button>
		</div>
		<div class="card-deck animated fadeIn fast" style="margin-bottom: 20px">
			<div class="card-container mx-auto mt-5 text-center" th:each="attention : ${attentions.content}">
			
				<div class="card card-front">
					<div class="card-body">
						<i class="fas fa-hand-holding-medical" style="font-size: 20px;"></i>
						<p class="card-text">Atendido por: [[${attention.user.name}]] [[${attention.user.primaryLastName}]]</p>
						<p class="card-text">Motivo: [[${attention.reason}]]</p>
						<p class="card-text">Constantes vitales: [[${attention.vitalSigns}]]</p>
						<p class="card-text">Diagnostico: [[${attention.diagnostic}]]</p>
						
						<div th:each="weight : ${weights}" th:if="${weight.registrationDate.compareTo(attention.attentionDate) == 0}">
							<p class="card-text">Peso: [[${weight.amount}]] kg</p>
						</div><br>
						
						<p class="card-text">
							<small class="text-muted" th:text="'Fecha de atención: ' + ${#dates.format(attention.attentionDate, 'dd-MM-yyyy')}"></small>
						</p>
					</div>
				</div>
				
				<div class="card card-back">
					<div class="card-body">
						<p class="card-text" th:if="${attention.prescription != null}">Receta: [[${attention.prescription}]]</p>
						<p class="card-text" th:if="${attention.analysisResult != null}">Resultado: [[${attention.analysisResult}]]</p>
						<p class="card-text" th:if="${attention.evolution != null}">Evoluci&oacute;n: [[${attention.evolution}]]</p>
						<div class="card-footer bg-transparent border-success">
							<a th:href="@{/historyDetails/edit/{patientId} (patientId=${patient.id}, clinicHistory=${clinicHistory.id}, date=${#dates.format(attention.attentionDate, 'dd-MM-yyyy')}) }" 
		                    		class="btn btn-secondary btn-sm" role="button">Editar</a>
		                    	<br><br>
		                    <form th:action="@{/send/{idPatient}/{idAttention} (idPatient = ${patient.id}, idAttention = ${attention.id})}" method="post">
	                    		<button th:if="${patient.client.status}" class="btn btn-secondary btn-sm" type="submit">Enviar atenci&oacute;n</button>
	                    	</form>
	               		</div>
                   	</div>
                 </div>
                 
			</div>
		</div><br>
		
		<nav aria-label="Page navigation" class="page-navigation">
			<ul class="pagination">
				<li th:if="${attentions.number > 0}" class="page-item">
					<a th:href="@{/historyDetails/{id} (id=${clinicHistory.id},patient=${patient.id},pageNumber=${attentions.number - 1})}" class="page-link">Anterior</a>
				</li>
				<li th:if="${attentions.number < attentions.totalPages - 1}" class="page-item">
					<a th:href="@{/historyDetails/{id} (id=${clinicHistory.id},patient=${patient.id},pageNumber=${attentions.number + 1})}" class="page-link">Siguiente</a>
				</li>
			</ul>
		</nav>
		
	</div>

	<footer th:insert="fragments/footer.html :: footer">
	</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 	
</body>
</html>